<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Que pex</h1>
    <p>Probando docker compose, usando una app de node y un loadbalancer de ngnx</p>
  </body>
</html>
